nav.main-nav
    ul.main-nav__list
        li.main-nav__list--item 
            a(href="#").main-nav__list--link Almacén
        li.main-nav__list--item
            a(href="#").main-nav__list--link Unidades
        li.main-nav__list--item 
            a(href="#").main-nav__list--link Personal
        li.main-nav__list--item 
            a(href="#").main-nav__list--link Historial Servicios
        li.main-nav__list--item 
            a(href="#").main-nav__list--link Historial Asignaciones
    .main-nav__logo
        a(href="#").main-nav__logo--a
            img(src="img/viveUrgenciasLogo.png", alt="Logo Vive Urgencias").main-nav__logo--img